*{
    margin: 0;
    padding: 0;
}
#header{
    width: 100%;
    height: 70px;
    position: fixed;
    color: white;
    font-family: Arial;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.logo{
    position: absolute;
    top:8px;
    left:45px;
}
.header_top{
    background-image: url(../img/header/bg.png);
    background-repeat: repeat-x;
    text-align: right;
    height: 80px;
}
body{
    margin: 0 auto;
    font-family: Arial;
    background-color: white;
}
#lienket{
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}
#lienket .login{
    font-size: 15px;
    padding-top: 10px;
}
#lienket .timkiem {
    display: flex;
    padding-top: 5px;
}
#lienket .timkiem .textbox{
    border: 1px solid #F7941D;
    color: #F7941D;
    font-size: 15px;
    height: 23px;
    position: relative;
    left: 24px;
    width: 250px;
}
#lienket .timkiem .button{
    position: relative;
    height: 23px;
    background-color: #FFC3A5;
    top: 1px;
}
#menu{
    padding-top: 15px;
}
#menu ul{
    display: flex;
    justify-content: flex-end;
    height: 20px;
   
}
#menu ul li{
    border-right: 1px solid #ffbc9b;
    height: 18px;
    padding: 0 10px;
    color: white;
}
#menu ul li:last-child{
    border: none;
}
#menu ul li a{
    color: white;
    display: block;
    height: 23px;
    padding: 1px 7px;
    
}
#menu ul li a:hover{
    background-color: white;
    border-radius: 5px;
    height: 15px;
    color: #e0611d;
}
#menu ul li a.active{
    background: none repeat scroll 0 0 #831d1d;
    border: 1px solid #f9cfb6;
    border-radius: 5px;
    height: 15px;
}
#menu img{
    border-right: 0 none;
    margin-top: -8px;
}
#co{
    padding-top: 10px;
    padding-right: 5px;
}
#main{
    background-image: url(../img/menu/menus-bg.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0 auto !important;
    padding: 90px 110px !important;
    z-index: 2;
    min-height: 695px;
}
#footer{
    background-color: #F7941D;
    color: white;
    padding: 8px 15px;
}
#footer .thongtin{
    display: flex;
}
#footer .thongtin .trai{
    width: 50%;
}
#footer .thongtin .trai ul{
    display: flex;
}
#footer .thongtin .trai a{
    padding: 5px;
    width: 20px;
    height: 18px;
    font-size: 20px;
    margin-top: -3px;
}
#footer .thongtin .phai{
    width: 50%;
}
#footer .thongtin .phai ul{
   justify-content: flex-end;
   display: flex;
   padding-top: 3px;
}
#footer .thongtin .phai li{
    border-right: 1px solid #ffbc9b;
    height: 18px;
    padding: 0 10px;
    color: white;
}
#footer .thongtin .phai li:last-child{
    border: none;
}
#footer .thongtin .phai a{
    color: white;
    height: 23px;
    padding: 1px 7px;
}
#footer .thongtin .phai a:hover{
    border-bottom: 2px solid black;
}
#body_content{
    width: 80%;
    padding: 0px auto;
    display: flex;
    padding-top: 135px;
}
.trai1{
    position: fixed;
    width: 18%;
    margin-left: 10%;
}
.trai1 .title-menu{
    color: #e53328;
    font-size: 3vw;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    font-weight: bolder;
    padding-left: 10px;
    margin-left: 0px;
}
.menu{
    background-color: rgba(255, 255, 255, 0.8);
}
.menu ul{
    padding: 0px;
}
.menu ul li{
    line-height: 25px;
}
.menu a{
   padding: 5px 25px 7px 8px;
   color: #984d17;
   font-size: 14px;
   font-weight: bolder;
   display: block;
}
.menu a.active{
    background-color: #f9ad81;
    color: #984d17;
}
.menu a:hover{
    background-color: #f9ad81;
    color: #984d17;
}
.phai1{
    width: 60%;
    margin-bottom: 50px;
    margin-left: 45%;
    background-color: rgba(255, 255, 255, 0.8);
}
.phai1 #main-menu .main-title{
    padding: 15px 0 5px;
}
.phai1 .content-title{
    height: 30px;
    color: #fff;
    padding-left: 13px;
    padding-bottom: 13px;
    background-repeat: repeat-x;
    background-image: url(../img/checkout/bg_tiltle_checkout.png);
}
.phai1 .content-title h3{
    line-height: 30px;
    font-family: Verdana;
    font-size: 14px;
}
.phai1 .sub-title{
    background-color: #fff7f4;
    padding: 16px;
    font-size: 13px;
}
.phai1 .sub-title .sub{
    border: dashed thin;
    padding: 10px;
}
.phai1 .content-content{
    overflow: hidden;
}
.content-content .product{
    text-align: left;
    width: 43%;
    padding: 5px 5px 15px 25px;
}
.content-content .product h4{
    color: #ff0000;
    font-size: 16px;
    padding: 5px 0px;
}
.content-content .product-image{
    padding: 10px 0;
}
.content-content .product-image img{
    width: 244px;
    height: 130px;
}
.content-content .product-desc{
    padding: 5px;
    color: #777c98;
    font-size: 13px;
    min-height: 47px;
    padding-right: 10px;
}
.content-content .price{
    padding: 0;
    font-size: 12px;
    color: #ff0000;
}
.content-content .price span{
    padding-left: 5px;
    padding-right: 10px;
}
.content-content{
    display: flex;
}
#toTop{
    background: url(../img/menu/back-to-top.png) no-repeat;
     cursor: pointer;
     display: block;
     width: 69px;
     height: 93px;
     position: fixed;
     bottom: 50px;
     right: 21px;
}



